<!doctype html>
<html lang="en">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/common.css"></link>
		<title>review</title>
		<style>
			#gform
			{
				padding:25px;
			}
			#uploadnote
			{
				padding:25px;
			}

		</style>
	</head>
	<body>
		<div class="wrap">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" id="brand" href="{{ url_for('home') }}">Xbot</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					{% if username %}
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item">
								<a class="nav-link" id="grzx" href="{{ url_for('chat') }}">Ask and Answer</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="wdqb" href="{{ url_for('history') }}">Question Log</a>
							</li>
						</ul>
						<ul class="nav justify-content-end">
						  <li class="nav-item">
							<a class="nav-link" href="#">Welcome {{username}}</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link btn btn-outline-success" href="{{ url_for('logout') }}" role="button">logout</a>
						  </li>
						</ul>
					{% else %}
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						</ul>
						<ul class="nav justify-content-end">
						  <li class="nav-item">
							<a class="nav-link btn btn-outline-success mr-sm-2" href="{{ url_for('regist') }}" role="button">sign up</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link btn btn-outline-success my-2 my-sm-0" href="{{ url_for('login') }}" role="button">sign in</a>
						  </li>
						</ul>
					{% endif %}
				</div>
			</nav>
			<div class="container" >
				<form id="gform">
					<div class="card text-left">
						<div class="card-header">
							  <div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">History</a>
								{% if admin %}
									<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Manage</a>
								{% endif%}
							  </div>
						</div>
						<div class="card-body">
							<div class="tab-content" id="nav-tabContent">
							  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
								<table class="table table-striped">
								  <thead>
									<tr>
									  <th scope="col">time</th>
									  <th scope="col">username</th>
									  <th scope="col">Q</th>
									  <th scope="col">A</th>
									</tr>
								  </thead>
								  <tbody>
									{% for i in his %}
										<tr>
											<td>{{i.time}}</td>
											<td>{{i.username}}</td>
											<td>{{i.question}}</td>
											<td>{{i.answer}}</td>
										</tr>
									{% endfor %}
								  </tbody>
								</table>
							  </div>
							  {% if admin %}
								  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
									<form>
									  <div class="form-group">
										<label for="question">The question you wanna change</label> 
										<input id="question" name="question" type="text" class="form-control">
									  </div>
									  <div class="form-group">
										<label for="description">Description</label> 
										<textarea id="description" name="description" cols="40" rows="5" class="form-control"></textarea>
									  </div> 
									  <button class="btn btn-outline-primary" id="sub" type="button">send</button>
									</form>
								  </div>
							  {% endif%}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="../static/js/history.js"></script>
	</body>
</html>